[ -f /etc/profile ] && source /etc/profile
# If you want to customize your settings,
# Use the file below. This is not overridden
# by the RPMS.
[ -f /var/lib/pgsql/.pgsql_profile ] && source /var/lib/pgsql/.pgsql_profile

LD_LIBRARY_PATH=/usr/pgsql-{{ postgresql_version }}/bin
export LD_LIBRARY_PATH
PATH=/usr/pgsql-{{ postgresql_version }}/bin:$PATH
export PATH
PGDATA={{ pg_data_dir }}
export PGDATA

cd $PGDATA